import jenkins.model.*
import hudson.security.*
import jenkins.model.IdStrategy
import hudson.security.LDAPSecurityRealm

def instance = Jenkins.getInstance()

ldapRealm = new LDAPSecurityRealm(
  "{{ jenkins2_ldap_server }}",
  "{{ jenkins2_ldap_root_dn }}",
  "{{ jenkins2_ldap_user_search_base }}",
  "{{ jenkins2_ldap_user_search }}",
  "{{ jenkins2_ldap_group_search_base }}",
  "{{ jenkins2_ldap_group_search_filter }}",
  {{ jenkins2_ldap_group_membership_filter }},
  "{{ jenkins2_ldap_manager_dn }}",
  new hudson.util.Secret("{{ jenkins2_ldap_manager_password }}"),
  {{ jenkins2_ldap_inhibit_infer_root_dn }},
  {{ jenkins2_ldap_disable_mail_address_resolver }},
  null, // CacheConfiguration cache
  null, // EnvironmentProperty[] environmentProperties
  "{{ jenkins2_ldap_display_name_attribute_name }}",
  "{{ jenkins2_ldap_mail_address_attribute_name }}",
  IdStrategy.CASE_INSENSITIVE,
  IdStrategy.CASE_INSENSITIVE,
)

instance.setSecurityRealm(ldapRealm)
instance.save()
