import jenkins.model.*
import hudson.security.*
import hudson.plugins.active_directory.*

def instance = Jenkins.getInstance()

def hudsonRealm = new HudsonPrivateSecurityRealm(false)
hudsonRealm.createAccount("{{ jenkins2_active_directory_bind_name }}","{{ jenkins2_active_directory_bind_pass }}")
instance.save()

def domain = new hudson.plugins.active_directory.ActiveDirectoryDomain(
  "{{ jenkins2_active_directory_domain_name }}",
  "{{ jenkins2_active_directory_domain_controller }}",
  {{ jenkins2_active_directory_site }},
  "{{ jenkins2_active_directory_bind_name }}",
  "{{ jenkins2_active_directory_bind_pass }}"
)

def activeDirectoryRealm = new ActiveDirectorySecurityRealm(
  null,
  [domain],
  null,
  null,
  null,
  null,
  GroupLookupStrategy.AUTO,
  {{ jenkins2_active_directory_remove_irrelevant_groups }},
  null,
  null,
  {{ jenkins2_active_directory_start_tls }}
)

instance.setSecurityRealm(activeDirectoryRealm)
instance.save()
