import jenkins.model.*
import hudson.security.*
import hudson.plugins.active_directory.*

def instance = Jenkins.getInstance()

def hudsonRealm = new HudsonPrivateSecurityRealm(false)
hudsonRealm.createAccount("{{ jenkins2_cli_username }}","{{ jenkins2_cli_password }}")
instance.setSecurityRealm(hudsonRealm)
instance.save()

{% if jenkins2_authorization_strategy == "logged-in" %}
  def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
  strategy.setAllowAnonymousRead({{ jenkins2_authorization_strategy_logged_in_allow_anonymous_read }})
  instance.setAuthorizationStrategy(strategy)
  instance.save()
{% endif %}

{% if jenkins2_authorization_strategy == "matrix-based" %}
  def strategy = new GlobalMatrixAuthorizationStrategy()
  strategy.add(Jenkins.ADMINISTER, "{{ jenkins2_cli_username }}")
  // TODO: Permissions
  instance.setAuthorizationStrategy(strategy)
  instance.save()
{% endif %}

{% if jenkins2_authorization_strategy == "project-based" %}
// TODO:
{% endif %}
