---
- name: Configure Github
  jenkins_script:
    url: 'http://localhost:{{ jenkins2_config_http_port }}'
    script: '{{ lookup("template", "set-github-connection.groovy.j2") }}'
    user: '{{ jenkins2_cli_username }}'
    password: '{{ jenkins2_cli_password }}'
    validate_certs: false
    timeout: 120
