---
# tasks file for ansible-role-jenkins
- name: Choose platform based task
  include_tasks: '{{ platform }}'
  with_first_found:
    - 'system/{{ ansible_os_family }}.yml'
    - 'system/not-supported.yml'
  loop_control:
    loop_var: platform

- name: Install pip packages
  pip:
    name:
      - jira
      - pyOpenSSL
      - python-gitlab
      - python-jenkins
      - lxml
      - awscli
      - pip
    state: present
    extra_args: --upgrade
  register: installed_packages
  until: installed_packages is success
  become: true

- name: Create group
  group:
    name: '{{ jenkins2_user | default("jenkins") }}'
    state: present
  become: true

- name: Create user
  user:
    name: '{{ jenkins2_user | default("jenkins") }}'
    group: '{{ jenkins2_user | default("jenkins") }}'
    shell: /bin/bash
    home: '{{ jenkins2_home_directory }}'
  become: true

- name: SSL preparation
  include_tasks: '{{ platform }}'
  with_first_found:
    - 'ssl/{{ ansible_system }}.yml'
    - 'system/not-supported.yml'
  loop_control:
    loop_var: platform
  when:
    - jenkins2_ssl_configure | bool

- name: Create symlink
  file:
    src: '{{ jenkins2_home_directory }}'
    dest: /var/lib/jenkins
    owner: '{{ jenkins2_user | default("jenkins") }}'
    group: '{{ jenkins2_user | default("jenkins") }}'
    state: link
  become: true
  when: jenkins2_home_directory != '/var/lib/jenkins'

- name: Jenkins repository install
  include_tasks: '{{ platform }}'
  with_first_found:
    - 'repository_install/{{ ansible_os_family }}.yml'
    - 'repository_install/not-supported.yml'
  loop_control:
    loop_var: platform

- name: Jenkins Installation
  package:
    name: '{{ jenkins2_package_version }}'
    state: present
  register: jenkins_was_installed
  until: jenkins_was_installed is success
  become: true

- name: Jenkins confuguration
  include_tasks: '{{ platform }}'
  with_first_found:
    - 'configure/{{ ansible_os_family }}.yml'
    - 'configure/not-supported.yml'
  loop_control:
    loop_var: platform
  when: jenkins_was_installed is defined and jenkins_was_installed is changed

- include_tasks: install_plugins.yml
  when: jenkins_was_installed is defined | bool

- include_tasks: configure_smtp.yml
  when: jenkins2_smtp_enabled | bool

- include_tasks: set_credentials.yml
  when: jenkins2_credentials_enabled | bool

- include_tasks: configure_pipeline_libraries.yml
  when: jenkins2_pipeline_libraries_enabled | bool

- include_tasks: configure_bitbucket_project.yml
  when: jenkins2_bitbucket_project_enabled | bool

- include_tasks: configure_sonarqube.yml
  when: jenkins2_sonarqube_enabled | bool

- include_tasks: configure_jira.yml
  when: jenkins2_jira_enabled | bool

- include_tasks: copy_custom_files.yml
  when: jenkins2_custom_files_enabled | bool

- include_tasks: configure_gitlab.yml
  when: jenkins2_gitlab_enabled | bool

- include_tasks: configure_github.yml
  when: jenkins2_github_enabled | bool

- include_tasks: add_new_jobs.yml
  when: jenkins2_seed_job_enable | bool

- include_tasks: configure_ec2.yml
  when: jenkins2_ec2_enable | bool

- include_tasks: configure_ssh_keys.yml
  when: jenkins2_ssh_keys_slave_group_exist and jenkins2_ssh_keys_generate and
    jenkins_was_installed is defined and jenkins_was_installed is changed

- include_tasks: configure_security.yml
  when: jenkins2_security_enable | bool

- include_tasks: configure_globaltools.yml
  when: jenkins2_globaltools_enable | bool

- name: Disable insecure connection
  set_fact:
    jenkins2_config_http_port: '-1'
  when: jenkins2_http_disabled | bool

- name: Apply Jenkins configuration file and check HTTPS
  template:
    src: '{{ ansible_os_family }}_configuration.j2'
    dest: /etc/{{ (ansible_os_family == "Debian") | ternary('default','sysconfig') }}/jenkins
    owner: root
    group: root
    mode: 0644
    backup: true
  become: true
  notify:
    - Restart Jenkins with HTTPS
  when: jenkins2_https_enabled | bool
