import jenkins.model.*
import com.cloudbees.plugins.credentials.*
import com.cloudbees.plugins.credentials.common.*
import com.cloudbees.plugins.credentials.domains.*
import com.cloudbees.jenkins.plugins.sshcredentials.impl.*
import hudson.plugins.sshslaves.*

global_domain = Domain.global()
credentials_store = Jenkins.instance.getExtensionList(
          'com.cloudbees.plugins.credentials.SystemCredentialsProvider'
          )[0].getStore()
credentials = new BasicSSHUserPrivateKey(
          CredentialsScope.GLOBAL,
          'planets-homepage_id_rsa',
          'planets-homepage_id_rsa',
          new BasicSSHUserPrivateKey.DirectEntryPrivateKeySource("""-----BEGIN RSA PRIVATE KEY-----
Here could be placed your private key, 
but we strongly recommend keeping private keys in vault service, 
like Ansible-vault or Hashicorp-vault, e.t.c
-----END RSA PRIVATE KEY-----"""),
          "",
          ""
        )
credentials_store.addCredentials(global_domain, credentials)
