---
# handlers file for ansible-role-jenkins
- name: Restart Jenkins
  service:
    name: jenkins
    state: restarted
  notify: Wait for Jenkins
  become: True

- name: Start Jenkins
  service:
    name: jenkins
    state: started
    enabled: True
  notify: Wait for Jenkins
  become: True

- name: Wait for Jenkins
  uri:
    url: "http://localhost:{{ jenkins2_config_http_port }}\
    {{ jenkins2_context_path | default('') }}/login"
    status_code: 200
  register: login_page
  until: login_page.status == 200
  retries: 60
  delay: 1
  
# handlers for windows
- name: Restart windows Jenkins
  win_service:
    name: jenkins
    state: restarted
  notify: Wait for windows Jenkins

- name: Start windows Jenkins
  win_service:
    name: jenkins
    state: started
    enabled: True
  notify: Wait for windows Jenkins

- name: Wait for windows Jenkins
  win_uri:
    url: "http://localhost:{{ jenkins2_config_http_port }}\
          {{ jenkins2_context_path | default('') }}/login"
    status_code: 200
  register: login_win_page
  retries: 30
  delay: 2
  until: login_win_page['status_code'] == 200

  #- name: Restart Jenkins with HTTPS
  #  service:
  #    name: jenkins
  #    state: restarted
  #  notify: Wait for Jenkins with HTTPS
  #  become: True

- name: Wait for Jenkins with HTTPS
  uri:
    url: "https://localhost:{{ jenkins2_config_https_port }}\
    {{ jenkins2_context_path | default('') }}/login"
    status_code: 200
    validate_certs: False
  register: login_page
  until: login_page.status == 200
  retries: 60
  delay: 1
