import jenkins.model.*
import hudson.model.*
import jenkins.plugins.nodejs.tools.*
import hudson.tools.*
import org.jenkinsci.plugins.docker.commons.tools.*

def inst = Jenkins.getInstance()

def desc = inst.getDescriptor("org.jenkinsci.plugins.docker.commons.tools.DockerTool")

def versions = [
{% for version in jenkins2_globaltools_docker_version %}
   '{{ version }}': '{{ version }}',
{% endfor %}
]
def installations = [];

for (v in versions) {
  def installer = new DockerToolInstaller("",v.value)
  def installerProps = new InstallSourceProperty([installer])
  def installation = new DockerTool(v.key, "", [installerProps])
  installations.push(installation)
}

desc.setInstallations(installations.toArray(new DockerTool[0]))

desc.save()
