import jenkins.model.*
import hudson.model.*
import hudson.tasks.*
import hudson.tools.*
import hudson.plugins.sonar.*

def inst = Jenkins.getInstance()

def desc = inst.getDescriptor("hudson.plugins.sonar.SonarRunnerInstallation")

def versions = [
{% for version in jenkins2_globaltools_sonarscanner_version %}
   '{{ version }}': '{{ version }}',
{% endfor %}
]
def installations = [];

for (v in versions) {
  def installer = new SonarRunnerInstaller(v.value)
  def installerProps = new InstallSourceProperty([installer])
  def installation = new SonarRunnerInstallation(v.key, "", [installerProps])
  installations.push(installation)
}

desc.setInstallations(installations.toArray(new SonarRunnerInstallation[0]))

desc.save()
